<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>

    <section class="d-flex justify-content-center align-items-center">
        <div class="card shadow col-xs-12 col-sm-6 col-md-6 col-lg-4   p-4">
            <div >

                <h4 class="text-center">  &nbsp; MEMORIA VERBAL ESPONTANEA</h4>

            </div>

            <div >

              <h6 class="text-center">  "Hace un momento aprendio una lista de palabras,¿Cuales de estas recuerda?"</h6>

          </div>
            <div class="mb-1">
                <form (submit)="onSubmit()">





                            <div *ngFor="let item of items">
                                <input type="checkbox" [(ngModel)]="item.selected" name="{{item.name}}"(ngModelChange)="countSelected()" >
                                {{ item.name }}
                              </div>
                              <br><br>

                        <div class="form-outline">
                            <input type="number" [(ngModel)]="Intrusiones"  name="Intrusiones" class="form-control" id="2"/>
                            <label class="form-label" for="typeNumber">Intrusiones</label>
                        </div>


                        <div class="form-outline">
                            <input type="number" [(ngModel)]="Perseveraciones"  name="Perseveraciones" class="form-control" />
                            <label class="form-label" for="typeNumber">Perseveraciones</label>
                        </div>
                        <br><br>

                        <div class="form-outline">

                            <p>Total: {{ numSelected }}</p>
                        </div>





              <div class="form-outline">
                <button style="margin: 5px" id ="botton"  class="col-5 btn btn-success d-flex justify-content-between ">
                    <span>Enviar </span><i id="icono" class="bi bi-cursor-fill "></i>
                </button>
                <button style="margin: 5px" id ="botton" (click)="siguiente()"class="col-5 btn btn-secondary d-flex justify-content-between ">
                    <span>Siguiente </span><i ></i>
                </button>

            </div>





            </form>

            </div>
        </div>
    </section>


</body>
</html>
