<div class="modulo">
    <h4>Funciones motoras , dibujos secuenciales </h4>
    <p>Se muestra al sujeto la Lamina 18  y se lee : "Observa esta figura y copiela en esta hoja sin levantar el lapis del <br> papel</p>
<br>
<ul>
    <h4>Fluicez</h4>
    <li>0= Imposible</li>
    <li>1= lento pero  posible</li>
    <li>2= normal </li>
    <app-total></app-total>
</ul>
<ul>
<h4>Contuinidad secuencial</h4>
    <li>o=Interrumpe el trazo mas de dos veces </li>
    <li>1=Interrumpe el trazo una o dos veces </li>
    <li>2=Todos los movimientos son continuos </li>
</ul>
<app-total></app-total>
<ul>
    <h4>Perseveracion Secuencial </h4>
    <li>0= Repeticion Continua Del mismo elemento </li>
    <li>1 = Tendencia ala perseveracion : repeticion al menos una vez del mismo elemento angulo o semicuadrado</li>
    <li>2 = normal</li>
    <app-total></app-total>
</ul>
<ul>
    <h4>Perseveracion en movimiento particulares </h4>
    <li>0 = permanece en la misma linea sin continuar la serie </li>
    <li>1 = Repinta una o dos lineas  </li>
    <li>2 = normal </li>
    <app-total></app-total>
</ul>
</div>
<app-fede></app-fede>