<br>
<h1>HISTORIA CLÍNICA NIÑOS Y ADOLESCENTES</h1>
<h2>Datos Generales</h2>
<div>
  <div class="input-group mb-3">
    <span class="input-group-text">Nombre: </span>
    <input type="text" class="form-control"  id="nombre">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Fecha evaluacion: </span>
    <input type="date" class="form-control" >
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Fecha nacimiento: </span>
    <input type="date" class="form-control" >
  </div>

    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">Edad: </div>
        <input type="text" class="form-control" id="edad" placeholder="">
        <div class="input-group-text">Género: </div>
        <input type="text" class="form-control" id="genero" placeholder="">
      </div>
    </div>
    <br>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">Grado escolar: </div>
        <input type="text" class="form-control" id="grado" placeholder="">
        <div class="input-group-text">Lateralidad:  </div>
        <input type="text" class="form-control" id="lateralidad" placeholder="">
      </div>
      <br>
    </div>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">Escolarodad madre:</div>
        <input type="text" class="form-control" id="escol_madre" placeholder="">
        <div class="input-group-text">Escolaridad padre:</div>
        <input type="text" class="form-control" id="escol_padre" placeholder="">
      </div>
    </div>
    <br>

    <br>
<h1>OBSERVACIONES MÉDICAS Y NEUROLÓGICAS</h1>

    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">1. Estado de alerta (consciente, somnoliento, estuporoso, comatoso, etc.): </label>
      <input type="text" class="form-control" id="estado_alerta" placeholder="">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">2. En caso de que la persona este tomando algún medicamento, especifique cuál, la dosis y la duración del tratamiento: </label>
      <input type="text" class="form-control" id="medicamento" placeholder="">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">3. Otros exámenes (anglografía, electroencefalografía, etc.):  </label>
      <input type="text" class="form-control" id="examenes" placeholder="">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">4. Antecedentes médicos:  </label>
      <input type="text" class="form-control" id="antecedentes" placeholder="">
    </div>
</div>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">Botón</button>
  <br>
</div>