<body>
    <h1>8. Funciones ejecutivas. Formación de categorías</h1>
    <p>“Voy a mostrarle unos dibujos y usted deberá decirme de qué formas puede agruparlos. Por ejemplo (enseñándole la lámina 7), todas estas figuras son partes del cuerpo; el ojo y la boca son partes de la cara; la mano y la pierna son extremidades’.’</p>
    <p>Se presenta la lámina 8 y se indica: “Dígame cómo se pueden agrupar estas figuras. Trate de formar el mayor número de agrupaciones posibles’.’</p>
    <p>Se continúa con las láminas 9, 10, 11 y 12 del mismo modo.</p>
    <p>En cada inciso suspender después de un minuto o cuando el sujeto haya logrado cinco cateogrías correctas. Suspender la tarea después de 5 minutos.</p>
    <p>Respuestas:</p>
    <table>
      <thead>
        <tr>
          <th>Lamina 8</th>
          <th>Lamina 9</th>
          <th>Lamina 10</th>
          <th>Lamina 11</th>
          <th>Lamina 12</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>